/*common css*/
body{overflow-x:hidden;}
body,h1,h3,h4,h2,h5,h6,ul,ol,p,fieldset,dd,dl,input,textarea,option,hr,td{margin:0;padding:0;}
a{text-decoration:none; color:#393331;}
h1,h3,h4,h2,h5,h6,b,strong{font-weight:normal;}
i,em{font-style:normal;}
li{list-style:none;}
img{border:none; display:block;}
a,input{outline:none;border:none;}
body{font:14px/1em "微软雅黑"; color:#393331;}
.clear:after{content:"."; display:block; clear:both;height:0; visibility:hidden;}
.clear{zoom:1;}

.starPhoto{width: 100%;}
/*header*/
header{width: 1200px;height: 80px;margin: 0 auto;}
header h1{float: left;height: 100%;}
header h1 a{display: inline-block;margin-right: 42px;height: 100%;}
header h1 a img{width: 84px;height: 62px;margin: 6px 0 0 6px;}
header .topNav{float: left;}
header .topNav li{float: left;line-height: 79px;position: relative;}
header .topNav li a{font-size:16px;color:#393331;padding:0 23px;display: inline-block;}
header .topNav li a::after{content: "";position: absolute;padding-left:23px;border-right: 1px solid #dedede;transform: rotate(15deg);width: 2px;height: 34px;top:21px;}
header .topNav li:last-child a::after{border:none;}
header .topNav li .active{color: #9a1e14;}

/*search login*/
header .topSearch{float: left;margin-left: 94px;}
header .topSearch li{float: left;}
header .topSearch li:nth-child(1){width: 300px;}
header .topSearch li:nth-child(1) .search{width: 298px;height: 38px;margin-top:20px;border:1px solid #393331;}
header .topSearch li:nth-child(1) .search input{height: 38px;width: 245px;padding-left: 5px;float: left;}
header .topSearch li:nth-child(1) .search a{background: url(../images/search.png) no-repeat center;margin-top:1px;width: 47px;height: 36px;border-left:1px solid #393331;display: inline-block;}
header .topSearch li:nth-child(2){line-height: 80px;}
header .topSearch li:nth-child(2) a{font-size: 16px;padding-left: 42px;}

/*content*/
section{width: 100%;height: 600px;background: #999;}

/*footer*/
footer{height: 64px;width: 100%;text-align: center;color: #a7a7a7;padding-top: 36px;}
footer p:nth-child(1){margin-bottom: 15px;}


